body {
   background-image: url(a62.png);
}
#grid {
    background-color: white;
    border: 3px solid black;
    width: 1200px;
     margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
   grid-template-rows: 100px auto 75px;
  }
.flyimg {
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
    border: 3px solid black;
    padding: 10px 10px 10px 10px;
}
.clearfloat {
    clear: both;
}
header { border: 1px solid black;
  margin: 10px 10px 10px 10px;
  grid-column: span 12;
background-color: black;
padding-left: 24px ;}


nav {grid-column: span 3;
   margin: 1px 1px 1px 10px;
    padding: 10px 3px 3px 1px;


 }


main { grid-column: span 9;
padding-left: 24px;
margin-right: 30px;
margin-left: 30px;}



footer {  grid-column: span 12;
background-color: red;
color: white;
text-align: center;
font-style: italic;
border: 3px solid black;
  }



.a {
font-family: helvetica;
color: white;
font-weight: normal;
}

.b {
font-family: helvetica;
color: black;
border-bottom: 3px solid black;
}
.c {
font-family: Georgia;
color: black;
font-weight: bold;
text-align: justify;
}
.d {
font-family: Georgia;
color: black;
font-weight: bold;
text-align: justify;
}
.e {
font-family: Georgia;
color: black;
font-weight: bold;
text-align: justify;
}

nav ul {
   list-style-type: none; 
   padding: 0;
   margin: 0;
}
nav li {
   width: 300px;
   padding: 0px;
   margin-bottom: 20px;
   margin-right: 20px;
   background-color: red;
   display: inline-block;
}
nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
      background-image: linear-gradient(to bottom, red);
      font-family: helvetica;
}
nav li a:hover {
    background-color: maroon;
    background-image: linear-gradient(maroon);
}

.ali:link {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.ali:visited {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.ali:link:hover {
  color: blue;
  text-decoration: underline;
}  


  
