


#wrapper {
  margin: 24px auto;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: 600px; /* This is for the dummy columns, replace or delete */
}

/* style for dummy columns, delete and replace with your own CSS */
.a
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;

.flyimg {
    float: center;
    margin-right: 24px;
    margin-bottom: 24px;
    border: 3px solid black;
    padding: 10px 10px 10px 10px;
    text-align: center;
    grid-column: span 12;
}
.keysimg {
    float: center;
    margin-right: 24px;
    margin-bottom: 24px;
    border: 3px solid black;
    padding: 10px 10px 10px 10px;
    grid-column: span 12;
}
.clearfloat {
    clear: both;
}
header { border: 1px solid black;
  margin: 10px 10px 10px 10px;
  grid-column: span 12;
background-color: rgb(129, 215, 255);
padding-left: 24px ;}


nav {grid-column: span 12;
  grid-row: 50px;
    background-color:  rgb(0, 26, 197);
 }

body {
  background-color: #ffffff;
  grid-template-rows: 20px;
}



footer {  grid-column: span 12;
background-color: rgb(148, 253, 255);
color: rgb(255, 255, 255);
text-align: center;
font-style: italic;
border: 3px solid black;
  }



.a {
font-family: helvetica;
color: #000000;
margin: 30px;
text-align: center;
grid-column: span 3;
grid-row: 100px;
}
.second { 
  text-align: center;}




nav ul {
   list-style-type: none; 
   padding: 0;
   margin: 0;
}
nav li {
   width: 300px;
   padding: 0px;
   margin-bottom: 20px;
   margin-right: 20px;
   background-color: red;
   display: inline-block;
}
nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
      background-image: linear-gradient(to bottom, rgb(0, 26, 197));
      font-family: helvetica;
}
nav li a:hover {
    background-color: rgb(96, 175, 231);
    background-image: linear-gradient(rgb(60, 97, 175));
}

.ali:link {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.ali:visited {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.ali:link:hover {
  color: blue;
  text-decoration: underline;
}  
.foot {
  color: #000000;
}
#myCarousel, secondCarousel {
  margin-bottom: 24px;
}

#myCarousel, secondCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
}
.f-carousel {
  --f-arrow-pos: 10px;

  --f-arrow-width: 50px;
  --f-arrow-height: 50px;

  --f-arrow-svg-width: 32px;
  --f-arrow-svg-height: 32px;
  --f-arrow-svg-stroke-width: 2.5;

  --f-arrow-color: #df2901;
  --f-arrow-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0
          0 / 30%);

  --f-arrow-border-radius: 50%;
  --f-arrow-bg: #fff;
  --f-arrow-hover-bg: #f9f9f9;
  --f-arrow-active-bg: #f0f0f0;
}